<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Selection</title>
</head>

<body>
    <div class="#">

    </div>
    <div class="formContents">
        <ul th:each="roofSelection : ${roofSelection}">
            <li><input type="radio" name="roofs" th:value="${roofSelection.key}" th:text="${roofSelection.value}" />
            </li>
        </ul>
    </div>
</body>

</html>